/* .heading{
    color:yellow;
    background-color: red;

}
.font-style{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
 .clicked{
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    text-align: center;
 }
 .unclicked{
    color: aliceblue;
    background-color: rgb(55, 0, 255);
    text-align: center;
 }
 button{
    margin-left: 50%;
 }